<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}
    <link href="{{ revUrl('index.css') }}" rel="stylesheet">
    {% block head_extra %}{% endblock %}
</head>

<body>

{% include './app-header.html' %}
<main>
    {% block content %}
    {# extend this layout and insert content into this block #}
    {% endblock %}
</main>

{% block footer %}

{% endblock %}

<script src="{{ revUrl('index.js') }}"></script>

<script>
    (function(window) {
        'use strict';

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(function(registration) {
                        return registration.update();
                    })
            });
        }
    }(window));
</script>

</body>
</html>
